@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";


.container {
    width: 100%;
    height: 970px;
    display: block;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    header {
        margin: 0 auto;
        text-align: center;

        ul {
            margin: 0 auto;
            padding-top: 40px;
            list-style-type: none;
            overflow: hidden;

            li {
                display: inline;
                padding: 14px 23px;

                a {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: white;
                    font-weight: 300;
                }
            }
        }
    }

    .slider {
        position: relative;
        margin: 0 auto;
        text-align: center;
        padding: 280px 140px;

        .icoon {
            position: absolute;

            &--links {
                left: 5%;
                fill: #8c8c8c;
            }

            &--rechts {
                right: 5%;
                fill: #8c8c8c;
            }

        }

        .text {
            margin: 0 auto;
            width: 600px;

            h1 {
                font-family: 'Raleway', sans-serif;
                color: white;
                font-weight: 800;
                font-size: 52px;
                padding: 15px;
            }

            h2 {
                font-family: 'Raleway', sans-serif;
                color: white;
                font-size: 36px;
                font-weight: 500;
            }

            p {
                font-family: 'Montserrat', sans-serif;
                font-size: 16px;
                color: white;
                font-weight: 300;
                line-height: 24px;

            }

            button {
                margin-top: 50px;
                font-family: 'Raleway', sans-serif;
                font-size: 14px;
                font-weight: 800;
                color: white;
                border-radius: 5px;
                border: none;
                background-color: #a57c58;
                padding: 20px 50px;
                box-shadow: 0 3px #736357;
            }



        }

        .dots {

            .dot {
                cursor: pointer;
                width: 10px;
                height: 10px;
                margin: 0 2px;
                background-color: #8c8c8c;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                margin-top: 325px;
            }

            .dot:nth-child(2) {
                width: 12px;
                height: 12px;
                background-color: transparent;
                border: 1px #d3c1ad;
                border-style: solid;
            }
        }

    }
}